<table class="table table-striped">
  <tbody>
    <tr *ngFor="let comment of commentObj">
      <td>
        <span>{{comment.author.displayName}} added a comment - time</span>
        <p>
          {{comment.body}}
        </p>
      </td>
    </tr>
  </tbody>
</table>
<div class="col-xs-12">
  <textarea *ngIf="showCommentBox" class="form-control" rows="4" [(ngModel)]="commentData"></textarea><br />
  <span>
    <button type="button" class="btn btn-primary" (click)="newComment()">{{commentBtnValue}}</button>
    <button type="button" class="btn btn-link" *ngIf="commentBtnValue === 'Add'" (click)="cancelComment()">Cancel</button>
  </span>  
</div>