<div *ngIf="issue">
  <h2>{{issue.fields.summary}}</h2>
  <div class="col-xs-6">
    <span>Type: <img src="{{issue.fields.issuetype?.iconUrl}}" /></span><br />
    <span>Priority: {{issue.fields.priority.name}}</span>
  </div>
  <div class="col-xs-6">
    <span>Assignee: {{issue.fields.assignee.displayName}}</span><br />
    <span>Status: <img src="{{issue.fields.status.iconUrl}}" /></span>
    <span>Resolution: {{issue.fields.resolution}}</span>
  </div>
  <div class="col-xs-12">
    <h4>Description</h4>
    <div [innerHTML]="description"></div>
    <my-comment *ngFor="let comment of comments"
          [name]="comment">
    </my-comment>
  </div>
</div>